/*웹캠 스타일*/
#container {
    display: inline-block;
    margin: 0px;
}
#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
    float: left;
}
#startButton, #stopButton, #popupButton {
	margin: 10px;
}
@media (max-width: 768px) {
    #videoElement {
        width: 500px;
        height: 375px;
        background-color: #666;
        margin: 10px 10px 10px 30px;
    }

    #startButton, #stopButton, #popupButton {
        margin: 10px auto;
        width: 80%;
    }
    
    #timer {
        display: inline-block;
        margin: 5px auto;
        text-align: center;
    }
}
#videoContainer {
    display: inline-block;
    margin: 0px auto;
    border: 10px solid black;
}

#timer {
    display: inline-block;
    margin: 5px;
    padding: 10px;
}